%p I have always been a lover of language. I studied French literature and linguistics in college and have been an amateur linguist ever since. One of the most compelling aspects of learning languages is how much time, devotion, and practice it takes. Like any skill that takes years to develop, its initial difficulty and the focus and dedication it requires over time, as well as the investment of emotion and often money, are what make them valuable.

%p And yet it’s difficult for me to accept just how long it takes to become fluent in a language. I’m always looking for more efficient and practical ways to reach a conversational level in languages.

%p In this blog, I’ll document my learning, including successes and failures, and I’ll highlight resources relating both to the languages I’m learning, as well as to languages in general. My current project is Chinese, and I hope to uncover new mysteries and challenges whose careful study will reveal insights into learning new forms of communication.

%p Join me as I explore the neuroscience of language acquisition, the syntax, phonetics, and grammars of new languages, and the desire to communicate with new and different people.
