%h1.learn Learn a language.

= image_tag 'nick-about.jpg', alt: 'Picture of Nick Cox, author of Speakeasy'

%p I’m Nick, a passionate language learner from Seattle, Washington. I have always been a lover of communication. I studied French literature and linguistics in college and have been an amateur linguist ever since. It’s astonishing to see your potential conversation partners vastly expand before your eyes.

%p But learning a language is difficult; part of the what makes learning languages such a sought-after skill is how much time, devotion, and practice it takes. Like any skill that takes years to develop, its initial difficulty and the focus and dedication it requires over time, as well as the investment of emotion and often money, are what make them valuable. If everyone spoke a half dozen languages, it would’t seem that valuable.

%p And yet it’s difficult for me to accept just how long it takes to become fluent in a language. I’m always looking for more efficient and practical ways to reach a conversational level in languages.

%p In this blog, I’ll document my learning, including successes and failures, and I’ll highlight resources relating both to the languages I’m learning, as well as to languages in general. My current project is Chinese, and I hope to uncover new mysteries and challenges whose careful study will reveal insights into learning new forms of communication.

%p
  The goal of these linguistic essays is to experiment with the many techniques out there for language acquisition, and to document meticulously what works, what doesn’t, what’s a waste of time and money, and what’s the best kept secret of language learners everywhere. For these topics, head over to the 
  = succeed '.' do
    = link_to 'resources section', '/resources/'

%p Join me as I explore the neuroscience of language acquisition, the syntax, phonetics, and grammars of new languages, and the desire to communicate with new and different people.
